/* CSS RESET */
* {padding: 0; margin: 0;}
html {font-size: 16px; scroll-behavior: smooth;}
body {font-size: 1rem; color: #444; font-family: 'Didact Gothic'; line-height: 1.4;}
ul {list-style-type: none;}
p {margin-bottom: 1.4em;}
a {color: #F5D0C4; text-decoration: none;}
strong, em {font-weight: 300;  font-style: normal;}

/* H1 H2 */
h1, h2 {margin-bottom: 0.8rem; color: #0C0C18;}
h1 {font-size: 3rem; font-weight: normal; font-family: 'Conv_BrownStd-BoldAlt'; letter-spacing: -1px; line-height: 0.9; margin-bottom: 2rem;}
h2 {font-size: 2rem; line-height: 1; font-family: 'Conv_BrownStd-BoldAlt'; font-weight: normal; letter-spacing: -1px;}
.home h2 {font-size: 3rem;}


/* GENERAL STUFF */
section.mw { max-width: 75rem; margin: 0 auto; padding: 0 2rem;}

.canvasoverlay {position: absolute; top: 0; left: 0; background: url(/img/paper.png); opacity: 0.15; background-size: 20rem; width: 100%; height:100%; margin:0 !important; pointer-events: none;}

.line {width:100vw; height: 3px; background: #F5D0C4; margin-top: 10px; position: relative; z-index: 1;}
.line.l2 {margin-top: 4px;}
.line.bottom {margin-top:0; margin-bottom: 4px;}
.line.l2.bottom {margin-top:0; margin-bottom: 10px;}

.displayNone {display:none !important;}


/* BACK TO TOP */
#backtotop {position: fixed;transition: 300ms ease; border-bottom: 0.15rem solid transparent; opacity: 0; visibility: hidden; bottom: 5rem; z-index: 10; right: -1.5rem; color: #F5D0C4; font-family: "Conv_BrownStd-BoldAlt";  text-transform: uppercase;  transform: rotate(-90deg);}
#backtotop:hover {border-bottom: 0.15rem solid #F5D0C4;}
#backtotop.showBackToTop {opacity: 1; visibility: visible;}




/* HEADER */
header {position: fixed;  top: 0; width: 100%; max-width: 175rem; height: 4.8rem; background: #0C0C18; z-index: 99; box-shadow: 0px 0px 10px rgba(0,0,0,0.5);}
header .overlay {width:100%; height:4.8rem; max-width: 175rem; position: fixed;  background: url(/img/paper.png); opacity:0.15; background-size: 20rem; }
header nav.desktop {display: flex; align-items: center;}
header li {list-style: none; display: inline; }
header li a, header label {cursor: pointer; text-decoration: none; color: #F5D0C4; font-size: 1.3rem; display: inline-block; margin: 1.425rem 1rem 1.425rem 1rem; border-bottom: 0.15rem solid transparent;}
header li a:hover, header li.selected > a {border-bottom: 0.15rem solid #F5D0C4;}

header #instagram {position: fixed; left: 2rem;}
header #instagram img {width: 1.5rem; height: 1.5rem; display: block;}

header nav.desktop ul:nth-of-type(1) {position: absolute; right: calc(50% + 10rem);}
header nav.desktop ul:nth-of-type(2) {position: relative; left: calc(50% + 10rem);}

header #homeimg {width: 7.5rem; height:auto; position: absolute; top:2px; left: -5px; z-index: 5;}
header a.meid {position: absolute; left:0; right: 0; margin-left: auto; margin-right: auto; top:0.4rem; width: 6.5rem; height:6.5rem; background: #0C0C18; border-radius: 50%;}
header a.meid  > .canvasoverlay {border-radius: 50%;}

.home header a.meid {transform: translateY(-7rem); transition: 500ms ease;}
.home header a.meid.show {transform: none;}

header #cartlink {display:flex;  position: absolute;  right: 2rem;  font-size: 0.77rem; line-height: 1.2; padding: 0.25rem 0 0.4rem;  text-decoration: none; font-size: 1rem;}
header #cartlink img {margin-right:0.5rem; }

header #products {position:relative; }
header #products a {font-size: 1rem; position: relative; z-index: 3;} 
header #products > a {position:relative; z-index: 3; font-size:1.3rem;}

header #products ul {position: absolute; top:1rem; left: 0; z-index: 2; width: 10rem; right: auto; transition: 300ms; opacity: 0; visibility:hidden; background: #0C0C18; padding: 1rem; margin-left: -1rem; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50); display:flex; flex-direction: column;}
header #products:hover ul {opacity: 1; visibility: visible;}
header #products ul li:first-of-type  a{ margin-top: 0.5rem;}
header #products ul li a { margin: 0.2rem auto;}

header nav.mobile > ul {width: 100vw;  left: 0; top: 4.8rem; background: #0C0C18; z-index: -1; flex-direction: column;  position: absolute; transition: 500ms ease; transform: translateY(-30rem); opacity: 0; visibility: hidden;}
header nav.mobile > ul > li a {margin: 1rem 0 0.2rem 1rem;}
header nav.mobile > ul > li:last-of-type {margin-bottom: 1rem;}
header nav.mobile > ul ul {display: flex; flex-direction: column; margin-left: 2rem;}
header nav.mobile > ul ul li a {font-size: 0.9rem; margin: 0; padding: 0.5rem 0 0.2rem; }

header nav.mobile input {z-index: 3; position: fixed; width: 2rem; height: 2rem; opacity: 0; right: 1.3rem; top: 1.3rem;}
header nav.mobile input:checked ~ ul {transform: translateY(0%); z-index: -1; opacity: 1; visibility: visible;}

header nav.mobile .hamburger { position: fixed; right: 1.6rem; top: 1.6rem; height: 1.5rem; width: 1.5rem; transition: 500ms ease;}
header nav.mobile .hamburger span {width: 100%; height: 0.16rem; background: #F5D0C4; display: block; position: absolute; transition: 500ms ease; border-radius: 5px;}
header nav.mobile .hamburger span:nth-of-type(1) {top: 10%;}
header nav.mobile .hamburger span:nth-of-type(2) { top: 43%; }
header nav.mobile .hamburger span:nth-of-type(3) {top: 76%; }

header nav.mobile input:checked ~ .hamburger {transform: rotate(270deg) translate(0.3rem, 0.1rem);}
header nav.mobile input:checked ~ .hamburger span { width: 100%;}
header nav.mobile input:checked ~ .hamburger span:nth-of-type(1) {top: 10%; transform: rotate(45deg);  transform-origin: top left;}
header nav.mobile input:checked ~ .hamburger span:nth-of-type(2) { opacity: 0;}
header nav.mobile input:checked ~ .hamburger span:nth-of-type(3) {top: 80%;  transform-origin: bottom left; transform: rotate(-45deg);}

header nav.mobile { position: absolute; top: 0; display: none;}




/* BREADCRUMBS */
#breadcrumbs { color: #0C0C18; font-size: 1rem;  border-radius: 0.2rem;  line-height: 1.2; margin: 1rem 0 0 1rem;}
#breadcrumbs a {color: #0C0C18; text-decoration: none;}
#breadcrumbs a:hover {border-bottom: 0.07rem solid #0C0C18; }
#breadcrumbs .lastitem:nth-child(3) {display: none;}



/* HOME */
.home section.fullscreen {position: relative; height: calc(100vh - 8.4rem); width:100%; margin-top:4.8rem; align-items: center; display:flex; justify-content: center; background: #0C0C18}
.home section.fullscreen  > div {margin-left:1.5rem;}
.home section.fullscreen  > div > img {width:35rem; display:block; margin-bottom: 2rem;}

.home section.intro {background: #FFF;}
.home section.intro h1 {text-transform: uppercase;}
.home section.intro .container {display: flex; margin: 10rem auto; align-items: center; justify-content: space-between;}
.home section.intro .container > div {width:60%;}

.home section.categories .image {position: relative; width:100%; padding-bottom:35%; margin: 3rem auto}
.home section.categories .image:first-of-type {margin-top: 0;}
.home section.categories .image:last-of-type {margin-bottom: 0;}
.home section.categories > div a{position: absolute; width:100%; height:100%; top:0; left: 0; display: flex; align-items: center; justify-content: flex-end;}
.home section.categories > div a:hover h2 {border-bottom: 0.15rem solid #F5D0C4; margin-bottom:-2px;}
.home section.categories h2 {margin-right: 15rem; text-transform: uppercase; color: #F5D0C4; text-shadow: 0 2px 4px rgba(0,0,0,0.50); margin-bottom: 0;}

.home section.cta { display: flex; align-items: center; justify-content: center; margin:3rem auto;}




/* BOUTIQUE BUTTON SVG   */
.buttonbox {position:relative; width:20em; height:20rem; display: flex; justify-content: center; align-items: center; }
.buttonbox p {text-transform: uppercase; font-family: "Conv_BrownStd-BoldAlt"; font-size: 1.2rem; text-align: center; max-width: 10rem; margin-bottom: 0; color: #F5D0C4}
.button { position: absolute; width:100%; height: 100%; top:0; left: 0; background:#F5D0C4;  mask-image: url("/img/button.svg"); -webkit-mask-image: url("/img/button.svg")}
.buttonbox:hover p {color: #0C0C18;}
.buttonbox:hover .button {background-color: #0C0C18;}



/* FOOTER */

footer {padding: 2rem 0; color: #F5D0C4; font-size: 0.92rem; background: #0C0C18; position: relative;}
footer div > a { color: #F5D0C4; font-family: "Conv_BrownStd-BoldAlt"; margin-bottom: 0.5rem;}
footer li > a { color: #FFF; }
footer div > ul {margin-top: 0.5rem;}
footer .container {display: flex; justify-content: space-between; position: relative; z-index: 2; padding: 0 2rem;}
footer ul {display:flex; flex-direction: column;}
footer .insta {margin-right:2rem;}


/* WEBSHOP */

.webshop .coverimage { padding-bottom: 40%;}
.webshop .content {margin: 3rem auto;}
.webshop .content h1 {text-transform: uppercase;}
.webshop .content .filters {margin: 3rem auto; display:flex; align-items: center;}
.webshop .content .filters > div {display: flex; align-items: center;}

.webshop .content .filters > div > label {font-size: 1.2rem; font-family: "Conv_BrownStd-BoldAlt"; text-transform: uppercase; margin: 0.2rem 1rem 0 0; letter-spacing: 0.1rem;}
.webshop .content .filters > div:first-of-type > select {margin-right: 1rem;}
.webshop .content .filters select::-ms-expand { display: none; }
.webshop .content .filters select { -webkit-appearance: none; appearance: none;  padding: 0.3rem 0.6rem 0.5rem;  border-radius: 0.2rem;  font-size: 1rem; border: 1px solid #444;; background: white; font-family: 'Didact Gothic'; flex-grow: 1;}

#productlist {display: grid; grid-template-columns: repeat(auto-fill,minmax(15rem,1fr)); grid-auto-flow: row dense;  grid-gap: 2rem;  margin: 0; margin-top: 1rem;}
#productlist li {list-style: none; width: 100%; text-align: center; margin: 0; position: relative; }
#productlist li.productcard {order: 1;}

#productlist li a {text-decoration: none; line-height: 1.3; display: block; position: relative;}
#productlist li a span {color: #0C0C18; margin-top: 0.5rem;}
#productlist li a div {margin-bottom: 0.3rem;}
#productlist li a h2 {margin-bottom: 0; margin-top: 0.7rem; font-size: 1rem;}
#productlist li.moodpicture {position: relative;}
#productlist li.moodpicture div {width:100%; height:0; padding-bottom: 127%;}

.webshop .filters {width:100%; margin: 1rem auto; display: flex; align-items: center;}
.webshop .filters > div {width:50%;}

.productimage.lazy {position:absolute; top:0; left: 0; width:100%;}
.productimage.hover {position:absolute; top:0; left: 0; width:100%; opacity: 0; transition: 500ms ease;}
#productlist .productimage:hover {opacity: 1;}
#productlist .productimage:hover ~ .productimage.hover {opacity: 1;}
#productlist .shadowoverlay {background: rgba(0,0,0,0.05); position: absolute; top: 0; width: 100%; height: 100%; z-index: 1;}


#productlist li.moodpicture.normal {grid-column: auto; grid-row: auto;}
#productlist li.moodpicture.banner {grid-column: span 2; grid-row: auto;}
#productlist li.moodpicture.banner .productimage { padding-bottom: 61%; margin: 0;}
#productlist li.moodpicture.big_square {grid-column: span 2; grid-row: span 2;}

#productlist li.moodpicture:nth-of-type(1) {order: 5;}
#productlist li.moodpicture:nth-of-type(2) {order: 11;}
#productlist li.moodpicture:nth-of-type(3) {order: 13;}
#productlist li.moodpicture:nth-of-type(4) {order: 17;}
#productlist li.moodpicture:nth-of-type(5) {order: 20;}
#productlist li.moodpicture:nth-of-type(6) {order: 25;}
#productlist li.moodpicture:nth-of-type(7) {order: 31;}



.productimage {padding-bottom: 120%; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; display: block; position: relative; z-index: 1;}
.products .productimage {background-size: contain;}
.productimage > .overlay {position: absolute; width: 100%; padding-bottom: 120%;}



/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
    /* BOUTIQUE BUTTON */
    .buttonbox {width:15rem; height: 15rem;}
    .buttonbox p {font-size: 1rem; max-width: 7rem;}
}
    
@media only screen and (max-width: 800px)  {
    /* HEADER */
    header nav.desktop { height: 4.8rem;}
    header nav.desktop ul{ display: none;}
    header nav.mobile {display: flex;}
    header nav.mobile ul {display: flex;}
    
    header #cartlink {right: 4rem; font-size: 1rem;}
    header a.meid { top:0.2rem; width: 5.5rem; height:5.5rem;}
    header a.meid #homeimg {width: 6.5rem;}

    /* BACKTOTOP */
    #backtotop {width:2rem; right:1rem; bottom: 2rem;}
    #backtotop > span:first-child {display:none;}
    #backtotop:hover {border-bottom: 0.15rem solid transparent;}
    #backtotop > span:nth-child(2) {display: block; height:2rem; width: 2rem; margin-right: 5rem; border-radius: 50%; background: #0C0C18; text-shadow: 1px 1px 2px rgba(0,0,0,0.50); }
    #backtotop > span:nth-child(2) span{display:block; height: 3px; background: #FFF; width:0.7rem; transform: rotate(45deg); position: absolute; bottom: 55%; border-radius: 2px; left: 0.71rem;}
    #backtotop > span:nth-child(2) span:nth-child(2) {transform: rotate(-45deg); bottom: 35%;}

    #productlist li.moodpicture {width:100%;}
}

@media only screen and (max-width: 700px) {
    /* HOME */
    .home section.fullscreen  > div > img {width:80%; margin: 0 auto 5rem auto;}
    .home section.fullscreen {height: calc(95vh - 8.4rem);} 
    .home section.intro .container {margin: 5rem auto; flex-direction: column;}
    .home section.intro h1 {font-size: 7vw;}
    .home section.intro .container > div {width:100%;}
    .home section.intro .container > a {margin-top: 2rem; margin-bottom: -1rem;}
    .home section.categories h2 {margin: 0 auto; font-size: 7vw}
    
    /* BOUTIQUE BUTTON */
    .buttonbox {width:10rem; height: 10rem;}
    .buttonbox p {font-size: 0.8rem; max-width: 5rem;}

    /* WEBSHOP */
    .webshop .content .filters {flex-direction: column; align-items: flex-start;}
    .webshop .filters > div {width:100%; margin: 0.5rem auto;}
    .webshop .content .filters > div:first-of-type > select {margin-right: 0;}
    .webshop .content .filters {margin: 2rem auto; }
    #productlist {grid-template-columns: 1fr 1fr;  grid-gap: 1rem;}
}

@media only screen and (max-width: 600px)  {
    .webshop .coverimage { padding-bottom: 75%;}
    h2 {font-size: 1.3rem;}
}

@media only screen and (max-width: 500px)  {
    /* FOOTER */
    footer .container {display: block;}
    footer .container > div {margin-top: 1rem;}
}


@media only screen and (max-width: 400px)  {
    /* PRODUCTLIST */
    #productlist {margin-left: 0%;}
    #productlist li {width: 100%; margin-left: 0;}
}


